<div class="row">
  <div class="col-xs-12 col-md-9">
    <h4>Top Links</h4>
    <!--Tab content-->
    <ul class="nav nav-tabs">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          more <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a data-toggle="tab">Action</a></li>
          <li class="divider"></li>
          <li><a data-toggle="tab">Another action</a></li>
        </ul>
      </li>
      <li><a data-toggle="tab">new</a></li>
      <li><a data-toggle="tab">rising</a></li>
      <li><a data-toggle="tab">top</a></li>
      <li><a data-toggle="tab">controversial</a></li>
      <li><a data-toggle="tab">promoted</a></li>
      <li><a data-toggle="tab">wiki</a></li>
      <li class="active"><a href="#home" data-toggle="tab">hot</a></li>
    </ul>

    <!--Link list container-->
    <ol class="link-list" id="link_list"></ol>
  </div>

  <!--Side-->

  <div class="col-xs-12 col-md-3 sidebar">
    <h4>Recently Viewed Links</h4>
    <ol class="link-list" id="link_list_recent"></ol>
  </div>
</div>