<div class="col-xs-12 col-md-9 link-detail">
  <h4>Comments</h4>
  <ul id="link_detail_item"></ul>
  <div class="comments-block">
    <h5 class="page-header"><i class="fa fa-comments-o"></i> All 100 Comments</h5>
    <ol>
      <li>
        <a data-href="/user/">Luke</a>
        <span class="text-muted">3000 points 3 hours ago</span>
        <p>
          So I work at a hotel and I've got a Santa staying there as he is sitting everyday at the mall across the street from us. Ever since he walked in that door he has been in character and only ever replies to Santa.
        </p>
        <ul class="link-meta">
          <li><a>permalink</a></li>
          <li><a>reply</a></li>
        </ul>
      </li>
    </ol>
    <div class="form-group">
      <textarea class="form-control" rows="3"></textarea>
    </div>
    <button class="btn btn-success btn-sm">Save</button>
  </div>
</div>