//css reset + override + layout
a[data-href] {
  cursor: pointer;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

.main-body {
  min-height: 300px;
  margin-top: 50px;
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    margin-top: -2px;
    border-top: 3px solid #dd4814;
  }
  .nav > li > a {
    padding: 4px 15px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    margin-top: -2px;
    background-color: #fff;
    border-top: 3px solid #dd4814;
    border-bottom: 1px solid #fff;
    cursor: pointer;
  }
  .nav-tabs {
    margin-top: -32px;
    &.nav {
      margin-bottom: 20px;
      li {
        float: right;
      }
      .dropdown-menu {
        li {
          float: none;
        }
      }
    }
  }
  .home-header {
    margin-bottom: 10px;
    background-color: #eee;
    .submit-btn {
      margin-top: 40px;
    }
  }
  .submit-form {
    margin-bottom: 20px;
  }
}

.comments-block {
  margin-bottom: 10px;
}

.footer {
  margin-top: 40px;
  text-align: center;
}

